<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.liyh.system.mapper.PostMapper">
    <resultMap id="includeUser" type="com.liyh.model.entity.Post" autoMapping="true">
        <id column="id" property="id"/>
        <association property="author" column="user_id" select="com.liyh.system.mapper.SysUserMapper.getFrontInfo"/>
        <collection property="tags" column="id" select="com.liyh.system.mapper.TagMapper.selectTagsByPostId"/>
    </resultMap>

    <sql id="columns">
        id,title,content,user_id,comments,collects,view,favor,top,essence,section_id,create_time,update_time,is_deleted
    </sql>
    <update id="update">
        update post
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="sectionId != null">
                section_id = #{sectionId},
            </if>
            <if test="top != null">
                top = #{top},
            </if>
            <if test="essence != null">
                essence = #{essence},
            </if>
            <if test="favor != null">
                favor = #{favor},
            </if>
            <if test="collects != null">
                collects = #{collects},
            </if>
            <if test="comments != null">
                comments = #{comments},
            </if>
            <if test="view != null">
                view = #{view},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="increaseViewCount">
        update post
        set view = view + 1
        where id = #{id}
    </update>
    <select id="selectPageByHot" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        <where>
            is_deleted = 0
        </where>
        order by top desc, view desc, create_time desc
    </select>
    <select id="selectPageByTime" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        <where>
            is_deleted = 0
        </where>
        order by top desc, create_time desc
    </select>
    <select id="selectByPk" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select *
        from post
        where id = #{id}
    </select>
    <select id="selectPageByUserId" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        <where>
            is_deleted = 0
            and user_id = #{userId}
        </where>
        order by create_time desc
    </select>
    <select id="selectCountByUserId" resultType="java.lang.Integer">
        select count(*)
        from post
        where user_id = #{userId}
          and is_deleted = 0
    </select>
    <select id="selectPostRandom" resultType="com.liyh.model.entity.Post">
        select *
        from post
        where is_deleted = 0
        order by rand()
        limit 10
    </select>
    <select id="selectAllPage" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        <where>
            is_deleted = 0
        </where>
        order by create_time desc
    </select>
    <select id="selectPageByTagId" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        where id in (
        select topic_id
        from post_tag
        where tag_id = #{id}
        )
        and is_deleted = 0
        order by create_time desc
    </select>
    <select id="searchByKeyword" resultType="com.liyh.model.entity.Post" resultMap="includeUser">
        select
        <include refid="columns"/>
        from post
        where is_deleted = 0
        and
        (
        (title like concat('%', #{keyword}, '%') or content like concat('%', #{keyword}, '%'))
        or
        id in (
        select topic_id
        from post_tag
        where tag_id in (
        select id
        from tag
        where name like concat('%', #{keyword}, '%')
        )
        )
        or
        id in (
        select id from post where user_id in (
        select id from sys_user where nickname like concat('%', #{keyword}, '%')
        )
        )
        )
        order by create_time desc
    </select>
</mapper>