<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.liyh.system.mapper.TagMapper">
    <resultMap id="includeCount" type="com.liyh.model.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="topicCount" column="id" select="selectCountByTagId"/>
    </resultMap>
    <sql id="columns">
        id,name
    </sql>
    <insert id="createTopicTag">
        insert into post_tag(topic_id, tag_id)
        values (#{post}, #{tag})
    </insert>
    <delete id="deletePostTagByTopicId">
        delete
        from post_tag
        where topic_id = #{topicId}
    </delete>
    <delete id="deletePostTagByTagId">
        delete
        from post_tag
        where tag_id = #{id}
    </delete>
    <select id="selectTagsByPostId" resultType="com.liyh.model.entity.Tag" resultMap="includeCount">
        select *
        from tag
        where id in (select tag_id
                     from post_tag
                     where topic_id = #{id})
    </select>
    <select id="selectTagList" resultType="com.liyh.model.entity.Tag" resultMap="includeCount">
        select
        <include refid="columns"/>
        from tag
        order by id
    </select>
    <select id="getHotTags" resultType="com.liyh.model.entity.Tag" resultMap="includeCount">
        SELECT tag.*
        FROM tag
                 JOIN (SELECT id
                       FROM tag_count
                       ORDER BY count DESC
                       LIMIT 10 OFFSET 0) subquery ON tag.id = subquery.id;
    </select>
    <select id="selectCountByTagId" resultType="java.lang.Integer">
        select count
        from tag_count
        where id = #{id}
    </select>


</mapper>